<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/checkbox.css">
  </head>

  <body>
    <div class="main-wrapper">
      <%- include('../includes/navbar.ejs') %>
  
      <div class="content-wrapper">
        <%- include('../includes/header-right.ejs') %>

        <% if (prodCreateing) {%>
          <div class="massage-box">
            <p class="creating-product">
              Product yaratildi!
            </p>
          </div>
        <% } %>

        <section class="main-content-wrapper">
          <form class="category__create-form" action="/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="application/x-www-form-urlencoded">
            <h3 class="parrent-hading">Yangi product qo'shing!</h3>
            <div class="input-wrapper">
              <label for="name">Product nomi: </label>
              <input name="name" class="category__create-input" type="text" placeholder="name" required value="<% if (editing) { %><%= product.name %><% } %>" id="name"/>
            </div>
            <div class="input-wrapper">
              <label for="barcode">Shrix code raqamlarini kiriting: </label>
              <input name="barcode" class="category__create-input" type="number" placeholder="barcode" required value="<% if (editing) { %><%= product.barcode %><% } %>" id="barcode"/>
            </div>
            <div class="input-wrapper">
              <label for="count">Product soni: </label>
              <input name="count" class="category__create-input" type="number" placeholder="count" required value="<% if (editing) { %><%= product.count %><% } %>" id="count"/>
            </div>
            <div class="input-wrapper">
              <label for="original_price">Sotib olingan narx: </label>
              <input name="original_price" class="category__create-input" type="number" placeholder="orginal price" required value="<% if (editing) { %><%= product.original_price %><% } %>" id="original_price"/>
            </div>
            <div class="input-wrapper">
              <label for="markup_price">Sotuvdagi narxi: </label>
              <input name="markup_price" class="category__create-input" type="number" placeholder="markup price" required value="<% if (editing) { %><%= product.markup_price %><% } %>" id="markup_price"/>
            </div>
            <div class="input-wrapper">
              <label for="description">Mahsulot haqida: </label>
              <textarea name="description" class="category__create-input textarea-style" placeholder="description" id="description"><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <div class="input-wrapper">
              <div class="toggle-pill-color">
                <label class="checkbox-label" for="pill3">Status: </label>
                <input type="checkbox" id="pill3" value="A" name="status">
                <label for="pill3"></label>
              </div>
            </div>
            <% if (editing) { %>
              <input type="hidden" value="<%= product.id %>" name="prodId">
              <input type="hidden" value="<%= product.pi_id %>" name="prodItemId">
          <% } %>
            <button class="category__create-btn parent-btn" type="submit"><% if (editing) { %>Edit Product<% } else { %>Qo'shish<% } %></button>
          </form>
        </section>
      </div>
    </div>

    <script src="/js/admin.js"></script>
  <%- include('../includes/end.ejs') %>
