<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/basket.css">
  </head>

  <body>
    <div class="main-wrapper">
      <%- include('../includes/navbar.ejs') %>
  
      <div class="content-wrapper">
        <%- include('../includes/header-right.ejs') %>

        <section class="main-content-wrapper">

          <%- include('../includes/search.ejs') %>
          
          <% if (products.length > 0) { %>
              <table class="products_table">
                <thead>
                  <tr class="products__thead-tr">
                    <th class="products__thead-th">Name</th>
                    <th class="products__thead-th">Barcode</th>
                    <th class="products__thead-th">Price</th>
                    <th class="products__thead-th">Count</th>
                    <th class="products__thead-th">Savatchaga qo'shish</th>
                  </tr>
                </thead>
                <tbody class="classes">
                  <% for (let product of products) { %>
                    <tr class="products__tbody-tr<% if(product.count < 10){%> product-min-count<%}%>">
                      <td class="products__tbody-td">
                        <%= product.name %>
                      </td>
                      <td class="products__tbody-td">
                        <%= product.barcode %>
                      </td>
                      <td class="products__tbody-td">
                        <%= product.markup_price %> so'm
                      </td>
                      <td class="products__tbody-td">
                        <%= product.count %>
                      </td>
                      <td class="products__tbody-td">
                        <input name="name" class="category__create-input" type="number" placeholder="soni" min="1" value="1" required  autocomplete="off"/>
                        <button type="submit" data-id="<%= product.id %>" class="category__create-btn" data-update="0">
                          <b style="font-size: 20px; padding: -5px;">+</b>
                        </button>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>

              <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, hasNextPage: hasNextPage, perviousPage: perviousPage, hasPerviousPage: hasPerviousPage, lastPage: lastPage}) %>

          <% } else { %>
            <h1>No Products Found!</h1>
          <% } %>


          <section class="d-none all-backet">
            <div class="no-content"></div>
            <div class="backet-content">
              <section class="backet">
                <div class="backet__container">
                  <div class="basket__header">
                    <img width="50" height="50" src="/images/basket.png" alt="basket" />
                    <h2 class="basket__heading">Savatcha</h2>
                    <button class="close_button"></button>
                  </div>
      
                  <main class="basket__main">
                    <table class="basket-table">
                      <thead>
                        <tr>
                          <th class="basket-th">Nomi</th>
                          <th class="basket-th">Nechta</th>
                          <th class="basket-th">Narxi</th>
                          <th class="basket-th">DEL</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="basket-td">Daftar</td>
                          <td class="basket-td">10</td>
                          <td class="basket-td">5000 so'm</td>
                          <td class="basket-td">
                            <button class="delete_btn"></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="price">
                      <span>Jami: </span>
                      <span>10000 so'm so'm</span>
                    </div>

                    <!-- jsda shunga settime out qo'yish kk "big_order" classni qo'shish kk-->
                    <h1 id="big_order" class="d-none">Buyurtma berildi!</h1>
                    <div class="money_type-wrepper">
                      <div>
                        <input class="money_type" type="radio" name="money_type" value="cash" id="cash" checked>
                        <label for="cash">Naqd pul</label>
                      </div>
                      <div>
                        <input class="money_type" type="radio" name="money_type" value="card" id="card">
                      <label for="card">Karta</label>
                      </div>
                    </div>
                  </main> 
                  <button class="basket__btn">Buyurtma berish</button>
                </div>
              </section>
            </div>
          </section>

        </section>
      </div>
    </div>

  <script src="/js/basket.js"></script>
  <%- include('../includes/end.ejs') %>
